
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %> 
<%@page import='com.example.examenNeoris.Api.ClienteDao'%>
<%@page import='java.util.*'%>
<%@page import='com.example.examenNeoris.Empleado'%>



<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>


	<body>
	<p><a href="http://localhost:9006/examenNeoris/Cliente/inicio">Click</a></p>
	<!-- <form action="metodos" method="POST">
	    <table>
	        <caption>
	            <h3>Formulario</h3>
	        </caption>
	        <tr>
	            <td>variable</td>
	            <td><input type="text" id="id" name="id"></input></td>
	        </tr>
	    </table>
	    
	    
	    <input type="submit" id="btnAgregar">Enviar</input>
	</form> -->
	
	
	
	<%
	ClienteDao dao = new ClienteDao();
	List<Cliente> lista = new ArrayList<Cliente>();
	%>
	
	
	 <form action="metodos" method="POST">
	    <table>
	        <caption>
	            <h3>Formulario</h3>
	        </caption>
	        <tr>
	            <td>Id</td>
	            <td><input type="text" id="id" name="id"></input></td>
	        </tr>
	          <tr>
	            <td>Nombre</td>
	            <td><input type="text" id="nombre" name="nombre"></input></td>
	        </tr>
	          <tr>
	            <td>Edad</td>
	            <td><input type="text" id="edad" name="edad"></input></td>
	        </tr>
	          <tr>
	            <td>Dirrecion</td>
	            <td><input type="text" id="direccion" name="direccion"></input></td>
	        </tr>
	    </table>
	    <br>
	    
	    
	    <input type="submit" id="btnAgregar" value="Insertar"></input>
	</form>
	<br>
	<form action="metodos2" method="POST">
	    <table>
	        <caption>
	            <h3>Formulario Eliminar</h3>
	        </caption>
	        <tr>
	            <td>Id</td>
	            <td><input type="text" id="id" name="id"></input></td>
	        </tr>
	          
	    </table>
	    <br>

	    <input type="submit" id="btnEliminar" value="Eliminar"></input>

	</form>
	<br>
	<form action="metodos3" method="POST">
	    <table>
	        <caption>
	            <h3>Formulario Editar</h3>
	        </caption>
	        <tr>
	            <td>Id</td>
	            <td><input type="text" id="id" name="id"></input></td>
	        </tr>
	          <tr>
	            <td>Nombre</td>
	            <td><input type="text" id="nombre" name="nombre"></input></td>
	        </tr>
	          <tr>
	            <td>Edad</td>
	            <td><input type="text" id="edad" name="edad"></input></td>
	        </tr>
	          <tr>
	            <td>Direccion</td>
	            <td><input type="text" id="direccion" name="direccion"></input></td>
	        </tr>
	    </table>
	    <br>

	    <input type="submit" id="btnEditar" value="Editar"></input>

	</form>
	<br>	


	<div>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Edad</th>
					<th>Direccion</th>
					
				</tr>
				</thead>
				
				<tbody>
				<c:forEach items="${list}" var="cliente">
				<tr>
					<td>${cliente.getId()}</td>
					<td>${cliente.getNombre()}</td>
					<td>${cliente.getEdad()}</td>
					<td>${cliente.getDireccion()}</td>
					
				</tr>
				</c:forEach>	
				
				
				
				</tbody>	
				</table>
				</div>	

</body>

</html>